#root {
  width: auto;
  width: auto;
}

header {
  background: linear-gradient(45deg, #1abc9c, #2e8775);
  width: 100%;
  height: 75px;
  top: 0%;
  position: fixed;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

li {
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

.children {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.bookDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #1abc9c, #2e8775);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px black;
  border-radius: 2px;
}

.addBookForm input[type=text] {
  margin: 10px;
  border-radius: 2px;
  font-size: 1.5rem;
  padding-left: 5px;
}

.addBookForm button {
  margin: 10px;
  border-radius: 5px;
  font-size: 2.5rem;
  cursor: pointer;
}

.bookListItem {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #1abc9c, #2e8775);
  width: auto;
  margin: 10px;
  max-width: 200px;
  align-items: center;
  border-radius: 2px;
  box-shadow: 5px 5px 5px black;
}

.bookListItem img{
  margin: 10px;
  width: 90%;
}

.bookListItem hr {
  color: black;
  height: 0.5;
}

footer {
  position: fixed;
  bottom: 0%;
  background: linear-gradient(45deg, #1abc9c, #2e8775);
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid black;
}