@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

html, body {
    height: 100%;
}

.homeDiv {
    width: 100%;
    /* height: 100%; */
}

.homeDiv img {
    position: absolute;
    width: 100%; 
    height: 100%;
}

p{
    position: relative;
    color: mediumaquamarine;
    text-shadow: 2px 2px black;
    left: 2%;
    font-size: 22vw;
    margin-top: 70px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    /* height: 100%; */
}